{% extends '_layouts/base' %}

{% block main %}
  {% cache using key 'entry__' ~ craft.app.request.pathInfo %}
    <header class="blocks blocks--header">
      <div class="blocks__content">
        {% if entry.date %}
          <p class="text-primary ui-bold mb-2">{{ entry.date|date('d.m.Y') }}</p>
        {% endif %}
        <h1 class="ui-h1">{{ entry.headline ? entry.headline|nl2br : entry.title }}</h1>
      </div>
      {% if entry.card.image %}
        <div class="blocks__content">
          {{ include("_components/image.twig", {
            image: entry.card.image.eagerly().one()
          }, withContext = false) }}
        </div>
      {% endif %}
      {% if entry.card.teaser %}
        <div class="blocks__content prose md:prose-lg lg:prose-xl">
          {{ entry.card.teaser }}
        </div>
      {% endif %}
    </header>

    {{ entry.matrixBuilder.eagerly().render({ builder: true }) }}
  {% endcache %}
{% endblock %}
